html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed!important;
}

div {
  border: 1px solid #E8E8E8;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin: 0;
  font-size: 0px;
}

/* To prevent long-press that will bring up copy-paste dialog. */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  outline: 0; /* To prevent blue-box outline after click: http://stackoverflow.com/questions/21719306/getting-rid-of-a-blue-box-around-button-when-pressed */
}


textarea, input {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.slowlyAppear {
  animation: slowlyAppear 0.3s linear;
}

.edge {
  background: saddlebrown !important; 
  border-collapse: collapse !important;
  border: hidden !important;
  border: 0pt !important;
  opacity: 0.8;
  /*-webkit-animation-name: highlight_last_move; Chrome, Safari, Opera */
  /*-webkit-animation-duration: 1s; Chrome, Safari, Opera */
  animation-name: highlight_last_move;
  animation-duration: 0.1s ease;
}

.edge_new {
  background: #FF6600 !important; 
  border-collapse: collapse !important; 
  border: 0pt;
  /*-webkit-animation-name: highlight_last_move; Chrome, Safari, Opera */
  /*-webkit-animation-duration: 1s; Chrome, Safari, Opera */
  animation-name: highlight_last_move_new;
  animation-duration: 0.01s;
}

@keyframes highlight_last_move {
    from {background-color: black;}
    to {background-color: saddlebrown;}
}
@keyframes highlight_last_move_new {
    from {background-color: yellow;}
    to {background-color: #FF6600;}
}

.pl0 {
  background: #ff9933; 
  /*border: 1px solid #959595;*/
}

.pl1 {
  background: #0099ff; 
  /*border: 1px solid #959595;*/
}

.dot {
  background: #bfbfbf; 
  box-shadow: inset 0 0 35px 5px rgba(0,0,0,0.25), inset 0 2px 1px 1px rgba(255,255,255,0.9), inset 0 -2px 1px 0 rgba(0,0,0,0.25);
}

.dot:hover{
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);  
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: inset 0 0 30px 5px rgba(0,0,0,0.25), inset 0 2px 1px 1px rgba(255,255,255,0.9), inset 0 -2px 1px 0 rgba(0,0,0,0.25);
}

.slowlyAppear {
	-webkit-animation: slowlyAppear 0.03s linear;
	-moz-animation: slowlyAppear 0.03s linear;
	-ms-animation: slowlyAppear 0.03s linear;
	-o-animation: slowlyAppear 0.03s linear;
	animation: slowlyAppear 0.03s linear;
}

.line:hover{
  border-collapse: collapse;
  border: 1px groove;
  border-spacing: 0;
  /*fill:darkred; 
  opacity: 0.3;*/
  /*animation: hideshow 0.3s ease infinite;*/
}

@keyframes hideshow {
  0% { opacity: 1; }
  10% { opacity: 0.7; }
  15% { opacity: 0.3; }
  100% { opacity: 0; }
} 

@-webkit-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@-moz-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@-o-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

@keyframes moveUp {
    0%   {background-color:red; left:0%; top:0%;}
    25%  {background-color:yellow; left:10%; top:0px;}
    50%  {background-color:blue; left:10%; top:10%;}
    75%  {background-color:green; left:0px; top:10%;}
    100% {background-color:red; left:0%; top:0%;}
}

td {
  padding:0 3px 0 3px;
}

/*Modal layer*/
button {
  background-color: grey;
  color: white;
  margin: 20px auto 0 auto;
  padding: 5px;
  display: inline;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-appearance: button;
  overflow: visible;
  border-radius: 6px;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  z-index: 1001;
}
.overlayModal {
  background: rgba(0,0,0,0.5);
  text-align:center;
  z-index: 1000;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  transition: visibility 0s linear 0.25s, opacity 0.25s linear;
  -moz-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
}
.zeroOpacity {
  visibility: hidden;
  opacity: 0;
}
.oneOpacity {
  visibility:visible;
  opacity:1;
  transition-delay:0s;
}
.modal-backdrop {
  z-index: 1000;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
}
.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: none;
    height: auto;
}

.text {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 0px hidden;
}

.selectSize {
  background-color: deepskyblue;
  margin: 3px auto 0 auto;
  display: block;
  border: 0px hidden;
}

.selectSize:hover{
  box-shadow: 1px 1px 2px black, 0 0 25px darkgrey, 0 0 5px darkblue;
}

button {
  /*background-color: grey;
  color: white;*/
  margin: 10px auto 0 auto;
  padding: 6px;
  display: inline-block;
  height: 45px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-appearance: button;
  overflow: visible;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  border: 0px hidden;
}

/*DropDown*/
.dropbtn {
    position: relative;
    background-color: deepskyblue;
    color: white;
    padding: 6px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border: 0px hidden;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    align-items: center;
    border: 0px hidden;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,1,0,0.2);
    z-index: 10;
    border: 0px hidden;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: skyblue;
}

.boardArea > div  {
  
}