html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed!important;
}
/* To prevent long-press that will bring up copy-paste dialog. */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  outline: 0; /* To prevent blue-box outline after click: http://stackoverflow.com/questions/21719306/getting-rid-of-a-blue-box-around-button-when-pressed */
}
textarea, input {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
  background-color: rgb(250,250,250);
}

.r {
  border-right: 6pt outset lightgrey;
}
.b {
  border-bottom: 6pt outset lightgrey;
}
.l {
  border-left: 6pt outset lightgrey;
}
.t {
  border-top: 6pt outset lightgrey;
}

.f {
  border-top: black;
  border-left: black;
  border-bottom: black;
  border-right: black;
}

.p1 {
  border-color: red;
  border-right: black;
  border-bottom: black;
}

.p2 {
  border-color: blue;
}

.slowlyAppear {
  animation: slowlyAppear 0.5s linear;
}

.svg-gameBoard svg:hover #glow { // stroke works fine, filter doesn't work
  stroke: white;
  filter: url(#blur-filter);
}

.svg-path svg:hover #color {
  stroke: white;
}

@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
