html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed!important;
}

div {
  border: 1px solid #E8E8E8;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin: 0;
  font-size: 0px;
}

/* To prevent long-press that will bring up copy-paste dialog. */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  outline: 0; /* To prevent blue-box outline after click: http://stackoverflow.com/questions/21719306/getting-rid-of-a-blue-box-around-button-when-pressed */
}

textarea, input {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*body {
  background-color: rgb(250,250,250);
}*/

/*.r {
  border-right: 6pt outset lightgrey;
}
.b {
  border-bottom: 6pt outset lightgrey;
}
.l {
  border-left: 6pt outset lightgrey;
}
.t {
  border-top: 6pt outset lightgrey;
}

.f {
  border-top: black;
  border-left: black;
  border-bottom: black;
  border-right: black;
}*/

.slowlyAppear {
  animation: slowlyAppear 0.3s linear;
}

.edge {
  background: saddlebrown !important; 
  border-collapse: collapse !important;
  border: hidden !important;
  border: 0pt !important;
  opacity: 0.8;
  /*-webkit-animation-name: highlight_last_move; Chrome, Safari, Opera */
  /*-webkit-animation-duration: 1s; Chrome, Safari, Opera */
  animation-name: highlight_last_move;
  animation-duration: 0.1s ease;
}

.edge_new {
  background: #FF6600 !important; 
  border-collapse: collapse !important; 
  border: 0pt;
  /*-webkit-animation-name: highlight_last_move; Chrome, Safari, Opera */
  /*-webkit-animation-duration: 1s; Chrome, Safari, Opera */
  animation-name: highlight_last_move_new;
  animation-duration: 0.01s;
}

@keyframes highlight_last_move {
    from {background-color: black;}
    to {background-color: saddlebrown;}
}
@keyframes highlight_last_move_new {
    from {background-color: yellow;}
    to {background-color: #FF6600;}
}

.pl0 {
  background: #ff9933; 
  /*border: 1px solid #959595;*/
}

.pl1 {
  background: #0099ff; 
  /*border: 1px solid #959595;*/
}

.dot {
  background: #bfbfbf; 
  box-shadow: inset 0 0 35px 5px rgba(0,0,0,0.25), inset 0 2px 1px 1px rgba(255,255,255,0.9), inset 0 -2px 1px 0 rgba(0,0,0,0.25);
}

.dot:hover{
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);  
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: inset 0 0 30px 5px rgba(0,0,0,0.25), inset 0 2px 1px 1px rgba(255,255,255,0.9), inset 0 -2px 1px 0 rgba(0,0,0,0.25);
}

/*.rotate {
	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     margin: 10px;
    overflow: hidden;
}

.dot :hover .rotate {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}*/

.slowlyAppear {
	-webkit-animation: slowlyAppear 0.03s linear;
	-moz-animation: slowlyAppear 0.03s linear;
	-ms-animation: slowlyAppear 0.03s linear;
	-o-animation: slowlyAppear 0.03s linear;
	animation: slowlyAppear 0.03s linear;
}

.line:not(.no-hover):hover{
  border-collapse: collapse;
  border: 1px groove;
  border-spacing: 2;
  fill:darkred; 
  opacity: 0.3;
  /*animation: hideshow 0.3s ease infinite;*/
}

.line:active{
  background: black;
  border: inset;
}

@keyframes hideshow {
  0% { opacity: 1; }
  10% { opacity: 0.7; }
  15% { opacity: 0.3; }
  100% { opacity: 0; }
} 

@-webkit-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@-moz-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@-o-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

td {
  padding:0 3px 0 3px;
}
