<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>DotsAndBoxes</title>
  <meta name="description" content="TicTacToe game">
  <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,">
  <!-- Suppress browser request for favicon.ico -->

  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <!-- build:[href] css/everything.min.css -->
  <link rel="stylesheet" type="text/css" href="css/game.css">
  <!-- /build -->

  <!-- build:js js/everything.min.js -->
  <script src="lib/angular.js"></script>
  <script src="lib/turnBasedServices.4.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
  <!-- /build -->

</head>

<body ng-cloak>
  <div id="gameArea" style="width:800px; height:800px">
    <div class="menu" ng-if="!game.dimSet">
      <div class="text">
        <p>Welcome to Dots and Boxes</p>
      </div>
      <button type="button" ng-click="inst = inst == true ? false : true;" width="80px;" class="dropbtn selectSize">Instruction</button>
      <div class="instruction" ng-if="inst">
        <div class="text">
          Instruction: Conquer as more lands(squares) as possible by occupying walls(lines). The last player who makes a successful
          surrounding will occupy the land surrounded.
        </div>
      </div>
     

      <div ng-if="game.isHumanTurn()">
        <div class="text">
          Choose you board size
        </div>
        <div class="dropdown">
          <button class="dropbtn">Options</button>
          <div class="dropdown-content">
            <button type="button" ng-click="game.setDim(7,7)" width="60px;" class="text selectSize">{{3}}x{{3}}</button>
            <button type="button" ng-click="game.setDim(11,11)" width="80px;" class="text selectSize">{{5}}x{{5}}</button>
            <button type="button" ng-click="game.setDim(15,15)" width="100px;" class="text selectSize">{{7}}x{{7}}</button>
          </div>
        </div>
      </div>

      <div class="text" ng-if="!game.isHumanTurn()">
        Oppenent choose board size
      </div>
       <div class="image">
        <img src="https://store-images.s-microsoft.com/image/apps.24039.9007199266251639.add58da4-c029-4b36-b4fd-0c2bc975ade2.9ede376f-ad57-4cba-8e14-d5accfa0eb71?w=471&h=265&q=60"
          style="width:100%;height:100%;display:block">
      </div>
    </div>
    <div class="boarArea" ng-show="game.dimSet" style="font-size: {{game.fontSizePx()}}px;">
      <rect width="100%" height="100%" style="fill:#CCCCFF" />
      <div ng-repeat="row in game.getRange()" style="position:absolute; left:0; width:100%; top:{{game.sizeSmall(row)}}%; height:{{game.sizeBig(row)}}%">
        <div ng-repeat="col in game.getRange()" style="position:absolute; left:{{game.sizeSmall(col)}}%; width:{{game.sizeBig(col)}}%; top:0; height:100%"
          ng-class="{dot: (row%2==0)&&(col%2==0),line: !game.shouldColorVisitedEdge(row, col)&&((row%2==0)&&(col%2==1)||(row%2==1) && (col%2==0))}"
          ng-click="game.cellClicked(row, col)">
          <div style="width:100%; height: 100%" ng-class="{slowlyAppear: game.shouldSlowlyAppear(row, col)}">
            <div style="width:100%; height: 100%" ng-if="game.shouldColorVisitedEdge(row, col)" ng-class="{edge: true}">
            </div>
            <div style="width:100%; height: 100%" ng-if="game.isOccupiedBy0(row, col)" ng-class="{pl0: true}">
            </div>
            <div style="width:100%; height: 100%" ng-if="game.isOccupiedBy1(row, col)" ng-class="{pl1: true}">
            </div>
            <div style="width:100%; height: 100%" ng-if="game.isBomb(row, col)" ng-class="{bomb: true}">
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</body>

</html>